<div class="container">
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <h4 class="<%= text_color %>"><%= I18n.t('general.edit') %> <%= I18n.t('persons.index') %></h4>

        <%= render partial: "users/form" %>
    </div>
  </div>
</div>