<button class="<%= toggler_color %> btn-sm" 
            type="button" 
            data-toggle="collapse" 
            data-target="#<%= target %>" 
            aria-expanded="false" 
            aria-controls="<%= target %>"
      >
        <i class="fas fa-sort"></i>
      </button>